
body{ 
    background-color: #EAF6F6;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 3px;
    width: 9%;
}
h1{
    color: #33BBC5;
}
h3{
    color: #33BBC5;
}  